.skills {
  text-align: center;
  padding: 60px 0;
}

.skills-carousel {
  margin-top: 40px;
  padding: 0 60px;
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.slick-track {
  display: flex !important;
  align-items: center;
}
